.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #333;
}

.auth-container {
  display: flex;
  gap: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  gap: 4px;
  font-weight: 500;
  transition: all, 0.3s;
}

.nav-link:link,
.nav-link:visited {
  color: #333;
}

.nav-link:hover,
.nav-link:active {
  color: #fe980f;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
}

.logout-btn:hover,
.logout-btn:active {
  color: #fe980f;
}
